# No copies este archivo manualmente. Ejecuta .\scripts\start-local.ps1
DJANGO_SECRET_KEY=GENERATED_BY_START_LOCAL_SCRIPT
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000
DJANGO_SECURE_SSL_REDIRECT=false
POSTGRES_DB=nexo_norte
POSTGRES_USER=nexo_norte
POSTGRES_PASSWORD=GENERATED_BY_START_LOCAL_SCRIPT
POSTGRES_HOST=db
POSTGRES_PORT=5432
